<nav class="bg-light py-2 mb-3">
  <div class="container-fluid">
    <div class="row">
      <div
        class="
          col-sm-6
          mb-2 mb-sm-0
          d-flex
          justify-content-center justify-content-sm-start
        "
      >
        <span class="h4 text-dark mb-0">Todo app</span>
      </div>
      <div
        class="col-sm-6 d-flex justify-content-center justify-content-sm-end"
      >
        <app-todo-search></app-todo-search>
      </div>
    </div>
  </div>
</nav>
